@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
    @apply bg-violet-300/20
}

.dark ::selection {
    @apply bg-violet-500/30
}

html {
    font-size: 15px;
    overflow-y: scroll;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html,
body {
    @apply size-full;
}

body {
    @apply font-noto;
    @apply flex flex-col;
    @apply bg-fixed bg-paper dark:bg-charcoal;
    @apply text-black/50 dark:text-white/75;
}

main {
    @apply flex-1 py-14
}

footer {
    @apply py-5 text-sm;
}

article {
    @apply font-noto;
    @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-noto prose-p:font-noto;
    @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-2;
        @apply decoration-black/15 dark:decoration-white/30;
        @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
        @apply text-black dark:text-white;
        @apply decoration-black/25 dark:decoration-white/50;
    }
}

html #back-to-top {
    @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
    @apply opacity-100 pointer-events-auto;
}
