---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer>
  <Container>
    <div class="relative">
      <div class="absolute left-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="border-t border-[var(--border)] pt-5 flex justify-between items-baseline gap-4">
      <a href="/" class="font-display font-medium text-lg text-[var(--text-primary)] no-underline">
        davide<span class="text-[var(--accent)]">.</span>
      </a>
      <div class="mono-label">
        &copy; 2025 {SITE.NAME}
      </div>
      <div class="mono-label hidden sm:block">
        When in doubt, JDI !
      </div>
    </div>
  </Container>
</footer>
